body {
  font-family: $main-font;
  background-color: $main-background;
  margin: auto;
  text-align: center;
}

.root {
  margin: auto;
  width: 50vw;
}

img {
  max-width: 50vw;
}

p {
  font-size: $main-font-size;
}

h1,
h2,
h3,
p {
  text-align: center;
}

aside {
  padding-bottom: 5rem;
}

.sides {
  background-color: $side1-background-color;
  color: $sides-color-text;
  padding-top: 15px;
}

.sides:last-of-type {
  background-color: $side2-background-color;
}

.projects-list {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #1b1be7;
  &:hover {
    color: #3d3dec;
  }
  &:active {
    color: #ee0000;
  }
}

////////////////////////////

.search-menu {
  text-align: left;
  margin-left: 40px;
  margin-top: 30px;
}

.dropbtn {
  background-color: #0617b3;
  color: white;
  padding: 9px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 90px;
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  border-radius: 8px;
}

.dropdown-content button:hover {
  background-color: #e2b9b9;
}
.active {
  background-color: #d4cbcb;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #1224cc;
}

.search-box {
  padding: 8px;
  border: none;
  margin-right: 10px;
}
////////////////////////////////
