@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// --------- Colors ------------------->
$main-background: #ece2d7;
$main-font-size: 1.1rem;
$nav-list-color: #232274;
$nav-list-hover: #211fad;
$nav-list-hover-bckg: #f0dfd8;
$side1-background-color: #85024a;
$side2-background-color: #225a02;
$sides-color-text: #eee9dc;
$footer-color-link: #f3f2e9;
$footer-color-hover: #e6d9c1;
$footer-color-text: #a8a2a2;
$footer-color-background: #212121;

$main-font: 'Roboto', Arial, sans-serif;
